*{
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.5;
  }
  
body{
  background-color: #F28095;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
  
header{
  height: 150px;
  width: 1000px;
  color: white;
  background-image: url(bowl.jpg);
  background-color: #141a1a;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: right;
}
  
footer{
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

h1{
  margin: 0px;
  padding-top: 50px;
  padding-left: 32px;
}

#grid-container{
  width: 1000px;
  background-color: #fdfdfd;
  display: grid;
  grid-template-columns: 184px 1fr;
  gap: 0 16px;
  margin: auto;
}

nav{
  width: 150px;
  margin-top: 16px;
}

nav li{
  text-align: center;
  list-style-type: none;
}

nav a{
  display: block;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0e5de;
  color: #141a1a;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  background-color: #f28095;
}

main{
  color: #542c1b;
  padding-bottom: 16px;
}

main img{
  float: left;
}

main p{
  display: inline-block;
  width: 50%;
  margin-left: 32px;
}

main ul{
  display: inline-block;
  width: 50%;
  margin-left: 16px;
}

address{
  clear: both;
  padding-top: 16px;
}

footer{
  font-style: italic;
  text-align: center;
  background-color: #afaeb4;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
}

